<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: nav"></div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Car Category</th>
    <th scope="col">Registration Date</th>
    <th scope="col">Mileage</th>
    <th scope="col">Brand</th>
    <th scope="col">Model</th>
    <th scope="col">Pack</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
<!--  <tbody>-->
<!--  <tr th:each="employee : ${employees}">-->
<!--    <td th:text="${employee.getId}"></td>-->
<!--    <td th:text="${employee.getFirstName}"></td>-->
<!--    <td th:text="${employee.getLastName}"></td>-->
<!--    <td th:text="${employee.getCarCategory}"></td>-->
<!--    <td th:text="${employee.orderCar.getId}"></td>-->
<!--    <td th:text="${employee.orderCar.getBrand}"></td>-->
<!--    <td th:text="${employee.orderCar.getCat}"></td>-->
<!--    <td th:text="${employee.orderCar.getModel}"></td>-->
<!--    <td th:text="${employee.orderCar.getPack}"></td>-->
<!--    <td>-->
<!--      <a th:href="@{editEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">edit</span></a>-->
<!--      <a th:href="@{removeEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">delete</span></a>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
</table>

</body>
</html>