<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:insert="fragments/head :: nav"></div>

<div class="tablecontainer">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Date of Employment</th>
        <th scope="col">Employment Duration</th>
        <th scope="col">Car Category</th>
        <th scope="col">Actions</th>
        <th scope="col"><a th:href="@{addEmployee}"><span class="material-icons">add</span></a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.getId}"></td>
        <td th:text="${employee.getFirstName}"></td>
        <td th:text="${employee.getLastName}"></td>
        <td th:text="${employee.getAge}"></td>
        <td th:text="${employee.getStartDate}"></td>
        <td th:text="${employee.getYearsEmployment()}"></td>
        <td th:text="${employee.getCarCategory}"></td>
        <td>
            <a th:href="@{editEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">edit</span></a>
            <a th:href="@{removeEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">delete</span></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div id="imgpeople">
    <img id="peopleimg" src="https://www.realdolmen.com/sites/default/files/styles/bann/public/2018-10/Capture_0.PNG?itok=-gG-FlSI" alt="realdolmen people image">
</div>


</body>
</html>